h1, h2, h3, h4, h5, h6 {
    color: red;
    font-family: Arial;
    font-weight: normal;
}
h1 {
    size: 2.5em;
}
h2 {
    size: 1.9em;
}
h3 {
    size: 1.5em;
}
h4 {
    size: 1.35em;
}
h5 {
    size: 1.25em;
}
h6 {
    size: 1.15em;
}
body {
    font-family: Verdana;
    size: 15px;
}