.purple {
  background-color: #9d00ff;
}
.blue {
  background-color: #2600ff;
}
.azure {
  background-color: #00bfff;
}
.green {
  background-color: #00ff00;
}
.yellow {
  background-color: #ffff00;
}
.orange {
  background-color: #ff7f00;
}
.red {
  background-color: #ff0000;
}
.wine {
  background-color: #35031e;
  color: white;
}
